.display-none {
    display: none !important;
}

#ui {
    display: block;
}
.render-tests {
    text-align: center;
}

.options {
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    padding: 0;
}

.option-inputs {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    display: inline-block;
    min-height: 2.5em;
    background-color: rgb(247, 247, 247);
}

.option-inputs .scaling-radio {
    display: inline-block;
    white-space: wrap;
}

.option-inputs input[type="radio"] {
    margin-right: 5px;
    display: inline-block;
}

.option-inputs label {
    margin-right: 10px;
}

.option-inputs li {
    display: inline-block;
}

#scaling-custom-inputs {
    display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    padding: 0;
}

#scaling-custom-inputs li {
    display: inline-block;
}

#scaling-custom-inputs li div {
    display: inline-block;
}

.option-custom-scaling {
    margin-left: 40px;
    display: inline-block;
}

.custom-aspect-ratio {
    width: 3em;
    text-align: center;
}

.custom-resolution {
    width: 5em;
    text-align: center;
}

#restore-default-options {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 80%;
}

.option-text {
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

.start {
    font-size: 150%;
}

#start-custom {
    margin-top: 20px;
}

ul.select-image {
    text-align: center;
}

ul.select-image li {
    display: inline-block;
    margin: 0px 0px 3px 0px;
    border: 2px solid rgb(187, 187, 187);
    height: 130px;
    width: 114px;
    border-radius: 5px 5px 5px 5px;
    vertical-align: middle;
}

ul.select-image li div {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
    height: 100%;
}

ul.select-image li img {
    max-width: 100px;
    max-height: 100px;
}

.selectable-image:hover:not(.selected-image) {
    cursor: pointer;
    border: 2px solid white;
}

.selected-image {
    background-color: white;
    color: black;
}

#drop-zone {
    border: 2px dashed rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    color: rgb(87, 87, 87);
    text-align: center;
    display: inline-block;
}

#drop-zone span {
    color: white;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    align-content: center;
    height: 100%;
}

.preview-size {
    display: inline-block;
}

#info-panel {
    font-family: 'Lato';
    font-size: 14px;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 18px;
    left: 18px;
    background: white;
    width: 335px;
    z-index: 1;
}

#info-panel-scroll-area {
    overflow-y: auto;
    padding: 5px;
}

#info-panel-scroll-area::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

#info-panel-scroll-area::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#info-panel-scroll-area::-webkit-scrollbar-thumb {
    background-color: #247E8F;
    border-radius: 1px;
}

#info-panel-scroll-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(61, 61, 61, 0.3);
    background-color: #F5F5F5;
    border-radius: 1px;
}

#info-panel:hover {
    cursor: auto;
}

#feature-close-panel {
    position: absolute;
    left: -10px;
    top: -10px;
    text-align: center;
    padding: 2px;
    width: 25px;
    height: 25px;
}

canvas:hover {
    cursor: move;
}

#simulation-ui {
    position: relative;
}

#simulation-text {
    cursor: move;
    position: absolute;
    left: 18px;
    top: 18px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0.0,0.0,0.0,0.5);
    border: 1px solid rgba(0.0,0.0,0.0,0.5);
    border-radius: 5px 5px 5px 5px;
    padding-inline-start: 0px;
    padding: 0;
    margin: 0;
}

#simulation-text ul {
    margin-top: 10px;
    margin-left: -30px;
    margin-right: 5px;
    margin-bottom: 0px;
}

#simulation-text li {
    list-style: none;
    margin-bottom: 10px;
}

#simulation-text span {
    border: 1px solid white;
    padding: 2px;
    cursor: pointer;
}

#info-panel h3 {
    margin: 0px;
    font-weight: 500;
    line-height: 1.1;
    border-bottom: 1px solid #eee;
}

#info-panel h5 {
    padding: 2px 5px;
    border-right: 2px solid #0b2a2f;
    border-left: 2px solid #0b2a2f;
    background-color: #247E8F;
    color: #ffffff;
}

#info-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#info-panel li {
    text-align: left;
}

#info-panel li div {
    display: inline;
}

.info-button {
    text-align: center;
}

.feature-movement-keys {
    width: 2em;
}

.camera-movements-arrows {
    position: relative;
    top: -1em;
    left: 4.5em;
}

#mouse-icon {
    position: relative;
    width: 30px;
    top: -15px;
    left: 30px;
}

.key-up-center {
    margin-left: 2.1em;
    margin-bottom: 0.1em;
}

.key-up-far-right {
    margin-left: 2.6em;
}
.key-down-far-right {
    margin-left: 0.5em;
}
.key-down-center {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.feature-name {
    font-weight: bold;
    margin-left: 5px;
}

.feature-hotkeys {
    font-size: 70%;
    margin-left: 3px;
}

#camera-zoom-parent {
    margin-left: 30px;
}

.selected-feature {
    border: 2px solid red;
}

.info-options > li {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

.info-options > li:nth-child(even) {
    background: #EEE;
    height: 100%;
}

.feature-modificable-input {
    width: 40px;
    text-align: right;
}

.feature-readonly-input {
    width: 80px;
    border: none;
    text-align: center;
}

.feature-button {
    width: 70px;
    height: 26px;
}

#movement-mode .feature-name {
    margin-right: 6px;
}

#feature-camera-movement-mode {
    float: right;
}

#feature-camera-movement-mode input {
    min-width: 140px;
}

.button-inc-dec {
    width: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.info-category {
    margin-bottom: 20px;
}

#top-message {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#top-message span {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    opacity: 0.5;
}

#fps-counter-holder {
    width: 100px;
    display: block;
    float: right;
    text-align: right;
}

#fps-counter-holder span {
    display: inline-block;
    margin-left: 5px;
}

#fps-counter-holder div {
    display: inline-block;
}

.reset-button {
    float: right;
    margin-right: 5px;
}

#camera-right-panel {
    float: right;
}

#camera-movement-indicator {
    margin-top: 10px;
    margin-bottom: 14px;
}

.camera-field-header {
    text-align: center;
    font-size: 60%;
    margin-bottom: 2px;
}

.camera-coordinate {
    display: inline-block;
    width: 30px;
}

.camera-field-group {
    text-align: right;
    font-size: 70%;
}

.camera-field-name {
    text-align: left;
    float: left;
    margin-top: -3px;
    margin-left: -20px;
}

input.camera-field::-webkit-inner-spin-button,
input.camera-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.camera-field {
    border-width: 0;
    font-size: 60%;
    margin-top: -5px;
    display: inline-block;
    width: 30px;
    overflow: hidden;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.camera-field-left {
    line-height: 1.1;
    border-right: 1px solid rgb(187, 187, 187);
}

.camera-field-right {
    line-height: 1.1;
    border-left: 1px solid rgb(187, 187, 187);
}

.camera-field-center {
    margin-left: -3px;
    margin-right: -3px;
    border-left: 1px solid rgb(187, 187, 187);
}

.camera-field-mid {
    line-height: 1.1;
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: -1px;
}

#fork-me {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 8%;
}

@media all and (max-width: 767px) {
    .margin-sm-bottom {
        margin-bottom: 25px;
    }

    .jumbotron > .row {
        flex-direction: column
    }

    .margin-left {
        margin-left: 0;
    }

    #fork-me {
        width: 110px;
    }
}